<p>Prezado(a) <%=@resource.full_name%></p>
<p>Segue sua nova senha para acesso ao GetCoins</p>
<p>Para sua segurança favor altera-la após o primeiro acesso</p>
<p><%=@password%></p>
<p>Atenciosamente,</p>
<p>Equipe GetCoins.</p>