<p>Dear <%=@resource.full_name%></p>
<p>Here's your new password for GetCoins access.</p>
<p>For your security change the password after the first access.</p>
<p><%=@password%></p>
<p>Best regards</p>
<p>GetCoins Team.</p>